In [1]:
import pandas as pd

from sklearn.model_selection import train_test_split

In [2]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

In [3]:
from sklearn.metrics import mean_squared_error, r2_score

In [4]:
# import datasaet from csv file, store it as pandas dataframe
data1 = pd.read_csv('Netflix.csv')

In [5]:
# examine imported data

print('dataframe dimentions NxM',data1.shape)

print('\ndataframe metadata:\n')
data1.info()

print('\ndataframe first 7 columns:\n')
data1.head(7)

dataframe dimentions NxM (1009, 7)

dataframe metadata:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009 entries, 0 to 1008
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1009 non-null   object
 1   Open       1009 non-null   float64
 2   High       1009 non-null   float64
 3   Low        1009 non-null   float64
 4   Close      1009 non-null   float64
 5   Adj Close  1009 non-null   float64
 6   Volume     1009 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 55.3+ KB

dataframe first 7 columns:

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-02-05,262.000000,267.899994,250.029999,254.259995,254.259995,11896100
1,2018-02-06,247.699997,266.700012,245.000000,265.720001,265.720001,12595800
2,2018-02-07,266.579987,272.450012,264.329987,264.559998,264.559998,8981500
3,2018-02-08,267.079987,267.619995,250.000000,250.100006,250.100006,9306700
4,2018-02-09,253.850006,255.800003,236.110001,249.470001,249.470001,16906900
5,2018-02-12,252.139999,259.149994,249.000000,257.950012,257.950012,8534900
6,2018-02-13,257.290009,261.410004,254.699997,258.269989,258.269989,6855200

In [6]:
# make sure that Date elements are datetime objects not just strings
print('Date object type:', type(data1['Date'][0]))

data1['Date'] = pd.to_datetime(data1['Date'])
data1.set_index('Date', inplace=True)

Date object type: <class 'str'>

In [7]:
data1.head(5)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-02-05,262.000000,267.899994,250.029999,254.259995,254.259995,11896100
2018-02-06,247.699997,266.700012,245.000000,265.720001,265.720001,12595800
2018-02-07,266.579987,272.450012,264.329987,264.559998,264.559998,8981500
2018-02-08,267.079987,267.619995,250.000000,250.100006,250.100006,9306700
2018-02-09,253.850006,255.800003,236.110001,249.470001,249.470001,16906900

In [8]:
print('Date object type:', type(data1.index[3]), data1.index[3])

Date object type: <class 'pandas._libs.tslibs.timestamps.Timestamp'> 2018-02-08 00:00:00

In [9]:
# Select features (X) and target (y) - here 'Close' is the target
X = data1.drop(columns=['Close'])
y = data1['Close']

In [10]:
print(type(X), X.head(5))  #pandas dataframe is 2 simentional columns with rows, columns
print(type(y), y.head(5))  #pandas series is 1 dimentional array

<class 'pandas.core.frame.DataFrame'>                   Open        High         Low   Adj Close    Volume
Date
2018-02-05  262.000000  267.899994  250.029999  254.259995  11896100
2018-02-06  247.699997  266.700012  245.000000  265.720001  12595800
2018-02-07  266.579987  272.450012  264.329987  264.559998   8981500
2018-02-08  267.079987  267.619995  250.000000  250.100006   9306700
2018-02-09  253.850006  255.800003  236.110001  249.470001  16906900
<class 'pandas.core.series.Series'> Date
2018-02-05    254.259995
2018-02-06    265.720001
2018-02-07    264.559998
2018-02-08    250.100006
2018-02-09    249.470001
Name: Close, dtype: float64

In [11]:
#prepare datasets for modle training/testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

In [12]:
print('X_train', X_train.shape)
print('y_train', y_train.shape)
print('X_test', X_test.shape)
print('y_test', y_test.shape)

X_train (807, 5)
y_train (807,)
X_test (202, 5)
y_test (202,)

In [28]:
# choose linear regression model
model1 = LinearRegression()

In [22]:
# choose decision tree model
model1 = DecisionTreeRegressor()

In [15]:
#choose random forest model
model1 = RandomForestRegressor(n_estimators=25, random_state=42)

In [29]:
# train the model
model1.fit(X_train, y_train)

LinearRegression()

In [30]:
# Make predictions
predict = model1.predict(X_test)

In [31]:
# seperate dataset to compare model prediction and test dataset values
compare = pd.DataFrame({'real': y_test, 'predicted' : predict})
compare['error'] = (compare['real'] - compare['predicted']).round(10)
compare

                  real   predicted  error
Date
2021-08-19  543.710022  543.710022   -0.0
2021-02-02  548.159973  548.159973   -0.0
2019-11-20  305.160004  305.160004    0.0
2020-09-29  493.480011  493.480011   -0.0
2019-07-02  375.429993  375.429993    0.0
...                ...         ...    ...
2018-03-21  316.480011  316.480011    0.0
2019-05-08  364.369995  364.369995    0.0
2018-11-08  317.920013  317.920013    0.0
2019-08-15  295.760010  295.760010    0.0
2019-04-26  374.850006  374.850006    0.0

[202 rows x 3 columns]

In [32]:
compare[compare['error'] != 0.0]

Empty DataFrame
Columns: [real, predicted, error]
Index: []

In [33]:
# Calculate performance metrics
mse = mean_squared_error(y_test, predict)
r2 = r2_score(y_test, predict)
    
print(f"{type(model1).__name__} - Mean Squared Error: {mse:.5f}, R^2 Score: {r2:.5f}")

LinearRegression - Mean Squared Error: 0.00000, R^2 Score: 1.00000